/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: #fff;
    font-family: "Outfit", sans-serif;
}

/* 
COLORES:
- #b1007c = Violeta
- #720050 = Violeta oscuro
- #ffc5ee = Rosa Claro
*/

/*---------------------------------------------*/

/* Frase Top */
.frase-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    background-color: black;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    overflow: hidden;
}

/* Navbar */
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffc5ee;
}

.navbar-container>img {
    height: 8rem;
}

.list-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    width: 100%;
    height: 2.5rem;
    background-color: #fff;
}

.item-menu-navbar,
.item-menu-navbar-carrito {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-menu-navbar>a,
.item-menu-navbar-carrito>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all .5s;
}

.item-menu-navbar>a:hover {
    color: #b1007c;
    border-bottom: 1px solid #b1007c;
}

.item-menu-navbar>a>img {
    height: 1.3rem;
}
/* Carrito */
.numero-de-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b1007c;
    border-radius: 50%;
    padding: .3rem;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
}

/* FIN Navbar */

/*---------------------------------------------*/

/* Como Comprar Nuestros Productos */
.lista-como-comprar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0;
    background: linear-gradient(to right, #b1007c, #fff);
}

.item-como-comprar {
    width: 50%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 1px solid #b1007c;
    background-color: #fff;
    padding: 1rem;
}

.item-como-comprar>h3 {
    font-size: 25px;
    text-decoration: underline;
}

.item-como-comprar>span {
    color: #b1007c;
}

.item-como-comprar>p {
    color: #555555;
}

/* FIN Como Comprar Nuestros Productos */

/*---------------------------------------------*/

/* Footer */
.footer-container {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 0 4rem;
}

.footer-container>img {
    width: 30rem;
}

.lista-empresa-footer,
.lista-legales-footer,
.lista-regalos-footer {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 13rem;
    gap: 1rem;
    flex-direction: column;
    list-style: none;
}

.item-empresa-footer>a,
.item-legales-footer>a,
.item-regalos-footer>a {
    color: #fff;
    text-decoration: none;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}

.item-empresa-footer>h3,
.item-legales-footer>h3,
.item-regalos-footer>h3 {
    color: #fff;
    font-size: 22px;
}

.item-empresa-footer>a:hover,
.item-legales-footer>a:hover,
.item-regalos-footer>a:hover {
    color: #b1007c;
    border-bottom: 1px solid #b1007c;
}

/* FIN Footer */

/*---------------------------------------------*/